.post-input {
  width: 100%;
  font-family: inherit;
  border: 1px solid var(--color-fg);
  border-radius: 10px;
  min-height: 10vh;
  display: block;
  padding: 0.5em;
  font-size: 1.3rem;
  resize: none;
}
.btn-post {
  display: block;
  margin: 1em auto;
  padding: 1em 3em;
  font-size: 1.2rem;
}
